#transparentbg {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.jumbotron {
    background-image: url("/img/jumbotronbg.jpg");
    background-size: 100% auto;
    margin: 0%;
}

body {
    background-color: #990000;
}

.whitebg {
    background-color: white;
    padding: 7%;
    text-align: center;
}

.bigtext {
    font-weight: 400;
}

#bigbutton {
    background-color: #990000;
    border-color: black;
}

.smallbutton {
    background-color: #cccccc ;
    color: #990000;
    margin-right: 10px;
}

.inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    /*margin-bottom: 7px;
    display: block;*/
}


.inputs input[type=email], input[type=password], input[type=text] {
    background: #f5f5f5;
    font-size: 0.8rem;
    /*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;*/
}

.inputs input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    /*box-shadow: 0px 0px 0px 3px #8f8f8f, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;*/
}

.inputs #submit {
    /*width: 100%;
    margin-top: 20px;
    padding: 15px 0;*/
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    /*text-align: center;
    text-decoration: none;*/
    background-color: rgba(145,0,4,0.86);
    /*border-radius: 5px;
    display: table;
    position: static;
    clear: both;*/
}

.inputs #submit:hover {
    background-color: rgba(156,0,4,0.81);
}

.inputs input[type=button] {
    /*width: 10%;
    margin-bottom: 20px;
    padding: 5px 0;*/
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    /*text-align: center;
    text-decoration: none;*/
    background-color: rgba(1,0,0,0.44);
    /*border-radius: 5px;
    display: table;
    position: static;
    clear: both;*/
}

.inputs input[type=button]:hover {
    background-color: rgba(1,0,0,0.6);
}